
{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">

        <!-- <ul>{{ users|unordered_list }}</ul> -->
        <p>
        	Pushing message to the following user:
        </p>
        {% for user in users %}
	        <p>
	        	{{ user }}
	        </p>
	        <input type="hidden" name="_selected_action" value="{{ user.pk }}" />
        {% endfor %}

        {{form}}
    	{% csrf_token %}
		<input type="hidden" name="action" value="push_message" />
	    <input type="submit" name="push" value="Push Message" />

    </form>
{% endblock %}