{% extends "admin/base_site.html" %}

{% load staticfiles%}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}

{% load i18n admin_static material_form %} 

{% block content %}
    <form action="" style="padding-left: 30px" class="viewform" method="post"> {% csrf_token %}

        {% form form=form layout=form.layout%}{% endform %}
        <input type="hidden" name="_selected_action" value="{users.pk}">
		<input type="hidden" name="action" value="push_message" />
	    <button type='submit' name='push' class="btn btn-primary btn-lg">Push Message</button>

    </form>
{% endblock %}